repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
        name: Makes sure files end in a newline and only a newline.
        entry: end-of-file-fixer
        types: [text]
      - id: trailing-whitespace
        name: Trims trailing whitespace.
        entry: trailing-whitespace-fixer
        types: [text]
      - id: check-docstring-first
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [ --fix ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy static analyser
        entry: "uv run mypy --follow-untyped-imports --non-interactive --install-types --no-warn-no-return"
        types: [python]
        language: system
