<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lunch</title>
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M30.456%2020.765c0%202.024-1.844%204.19-4.235%204.19v34.164c0%204.851-6.61%204.851-6.61%200V24.955c-2.328%200-4.355-1.793-4.355-4.479V1.674c0-1.636%202.364-1.698%202.364.064v13.898h1.98V1.61c0-1.503%202.278-1.599%202.278.064v13.963h2.046V1.63c0-1.572%202.21-1.635%202.21.062v13.945h2.013V1.63c0-1.556%202.309-1.617%202.309.062v19.074z%22%20fill%3D%22currentColor%22%2F%3E%3Cpath%20d%3D%22M48.089%206.045v53.059c0%204.743-6.624%204.673-6.624%200V38.051h-3.526V6.045c0-7.451%2010.151-7.451%2010.151%200z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E">

  </head>
  <body>
    <style>
      h1, h2 {
        margin: 0px;
      }
      h2 a {
	text-decoration: none;
      }
      ul {
        padding: 0;
	margin: 0;
      }
      div.restaurant {
        margin-bottom: 10px;
      }
    </style>

    <h1>{{date.strftime('%A %d.%m.')}} <span id="remaining"></span></h1>
    <div>
	    <button id='tts'></button>
    </div>
    <div>Bajks: <span id="bikes">Loading...</span></div>
    <script>
    async function load() {
      const res = await fetch('https://api.nextbike.net/maps/nextbike-live.json?city=271')
      const json = await res.json();
      
      const stations_map = [
        ['P-MSIC - Viva', 'Viva'],
        ['P-MSIC - Piano', 'Piano'],
        ['P-Koleje VŠB - vstup do lesoparku', 'Koleje bus'],
        ['P-koleje VŠB', 'Koleje'],
      ];
      
      const stations = stations_map.map(i => i[0]);
      const counts = Object.fromEntries(json.countries[0].cities[0].places.filter(i => stations.indexOf(i.name) >= 0).map(i => [i.name, i.bikes_available_to_rent]));
     
      document.getElementById('bikes').innerHTML = stations_map.filter(([key, name]) => counts[key]).map(([key, name]) => `${name} (${counts[key]})`).join(', ');
    }
    
    load();
    </script>

    {% for restaurant in restaurants %}
      <div class="restaurant">
        <h2>
		<a href="{{ restaurant.url }}" target="_blank">
			{{ restaurant.name }}
		</a>
	</h2>
        {% if not restaurant.soup and not restaurant.lunches %}
        No lunch found.
        {% else %}
          <ul>
          {% for soup in restaurant.soups %}
          <li>
            <strong>{{ soup.name }}</strong>
            {% if soup.price %}
              {{ soup.price }} Kč
            {% endif %}
          </li>
          {% endfor %}
          </ul>
	  <br>

          <ul>
            {% for lunch in restaurant.lunches %}
            <li>
              {% if lunch.num %}{{ lunch.num }}{% endif %}
              <strong>{{ lunch.name }}</strong>
	      {% if lunch.price %}
	              {{ lunch.price }} Kč
	      {% endif %}
              {% if lunch.ingredients %}
              <div>{{ lunch.ingredients }}</div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
        <pre>{{restaurant.error}}</pre>
      </div>
    {% endfor %}

    <script>
	const remainingEl = document.getElementById('remaining');
	function remaining() {
	  const target = new Date();
	  target.setHours(11, 0, 0, 0);
	  //target.setHours(23, 59, 0, 0);
	  
	  let diff = target - new Date();
	  if(diff <= 0) {
	    return null;
	  }
	  const hours = parseInt(diff / 3600000);
	  diff -= hours * 3600000;
	  const minutes = parseInt(diff / 60000)
	  diff -= minutes * 60000;
	  const secs = parseInt(diff / 1000);
	  diff -= secs * 1000;
	  return {
             hours, minutes, secs, milliseconds: diff,
	  }
	}

	setInterval(() => {
	  const r = remaining();
	  if(r) {
	    remainingEl.innerText = `- ${r.hours}:${('00' + r.minutes).substr(-2)}:${('00' + r.secs).substr(-2)}.${('000' + r.milliseconds).substr(-3)}`;
	  } else {
	    remainingEl.innerText = '';
	  }
	}, 21);

	let tts = false;
	const btn = document.querySelector('#tts');
        const updateLabel = () => btn.innerText = `announcer ${tts ? 'enabled' : 'disabled'}`;
        updateLabel();
	btn.onclick = () => {
          tts = !tts;
	  updateLabel();
	};
	setInterval(() => {
          const r = remaining();
	  if(!r || !tts) {
            return;
          }
          const utterance = new SpeechSynthesisUtterance(`${r.hours} hours, ${r.minutes} minutes, ${r.secs} seconds and ${r.milliseconds * 1000 * 1000} nanoseconds left`);
          speechSynthesis.speak(utterance);
	}, 1000);
    </script>

  </body>
</html>
