<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lunch</title>
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M30.456%2020.765c0%202.024-1.844%204.19-4.235%204.19v34.164c0%204.851-6.61%204.851-6.61%200V24.955c-2.328%200-4.355-1.793-4.355-4.479V1.674c0-1.636%202.364-1.698%202.364.064v13.898h1.98V1.61c0-1.503%202.278-1.599%202.278.064v13.963h2.046V1.63c0-1.572%202.21-1.635%202.21.062v13.945h2.013V1.63c0-1.556%202.309-1.617%202.309.062v19.074z%22%20fill%3D%22currentColor%22%2F%3E%3Cpath%20d%3D%22M48.089%206.045v53.059c0%204.743-6.624%204.673-6.624%200V38.051h-3.526V6.045c0-7.451%2010.151-7.451%2010.151%200z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E">

  </head>
  <body>
    <style>
      h1, h2 {
        margin: 0px;
      }
      ul {
        padding: 0;
	margin: 0;
      }
      div.restaurant {
        margin-bottom: 10px;
      }
    </style>

    <h1>{{date.strftime('%A %d.%m.')}}</h1>

    {% for restaurant in restaurants %}
      <div class="restaurant">
        <h2>{{ restaurant.name }}</h2>
        {% if not restaurant.soup and not restaurant.lunches %}
        No lunch found.
        {% else %}
          <ul>
          {% for soup in restaurant.soups %}
          <li>
            <strong>{{ soup.name }}</strong>
            {% if soup.price %}
              {{ soup.price }} Kč
            {% endif %}
          </li>
          {% endfor %}
          </ul>

          <ul>
            {% for lunch in restaurant.lunches %}
            <li>
              {% if lunch.num %}{{ lunch.num }}{% endif %}
              <strong>{{ lunch.name }}</strong>
	      {% if lunch.price %}
	              {{ lunch.price }} Kč
	      {% endif %}
              {% if lunch.ingredients %}
              <div>{{ lunch.ingredients }}</div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
        <pre>{{restaurant.error}}</pre>
      </div>
    {% endfor %}
  </body>
</html>
