body {
    font-family: sans-serif;
    overflow-y: scroll;
}

body {
    --theme-color: black;
    --theme-color-selected: white;
}

body.dark {
    background-color: #2B2B2B;
    color: #A9B7C6 !important;
    --theme-color: #FFC66D;
    --theme-color-selected: black;
}

body.dark h1 {
    color: #CC7832 !important
}

body.dark h2 a,
body.dark .iconify {
    color: var(--theme-color) !important
}

body.dark strong {
    color: #BBBBBB !important
}

body.dark input[type=search] {
    background: #2B2B2B !important;
    color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
    border: 1px solid;
    border-radius: 4px;
}

.search_highlight {
    background-color: black !important;
    color: white !important;
}

body.dark .search_highlight, body.dark .search_highlight strong {
    background-color: #CC7832 !important;
    color: white !important;
}

div.settings, div.settings-buttons {
    flex-direction: row;
    display: flex;
    gap: 5px;
    align-items: center;
}

@media all and (max-width: 666px) {
    div.settings {
        flex-direction: column;
    }

    div.settings-search, input[type=search] {
        width: 100%;
    }
}
