name: build
on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6.13.0
        with:
          platforms: linux/aarch64,linux/amd64
          tags: ghcr.io/trnila/assistant:latest,ghcr.io/trnila/assistant:${{ github.sha }}
          pull: true
          push: true

  deploy:
    if: github.repository == 'trnila/assistant'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: 'curl -X POST --fail -s -H"Authorization: Bearer ${{ secrets.DEPLOY_TOKEN }}" https://trnila.eu/hooks/assistant'
