name: Validation

on:
    workflow_dispatch:
    push:

jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - uses: j178/prek-action@v1

  build_frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cd frontend && yarn install && yarn run build

  test_cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: sudo apt update && sudo apt install -y poppler-utils tesseract-ocr
      - name: Run tests
        run: uv run ./lunches.py

  test_fullstack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update && sudo apt-get install -y docker-compose
      - run: docker-compose up -d --build
      - run: npm install -D @playwright/test@latest
      - run: npx playwright install --with-deps
      - run: npx playwright test --reporter=html
      - run: docker-compose logs
        if: ${{ !cancelled() }}
      - uses: actions/upload-artifact@v7
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: |
            playwright-report/
            test-results/
